docs/Node Red/Trabalho Final IOT.json
[{"id":"bd366dc1.ce123","type":"tab","label":"Trabalho Final IOT","disabled":false,"info":""},{"id":"36257de7.cbec82","type":"inject","z":"bd366dc1.ce123","name":"Liga","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":20,"wires":[["39f2caef.51e496"]]},{"id":"39f2caef.51e496","type":"arduino out","z":"bd366dc1.ce123","name":"Led Pino 7","pin":"7","state":"OUTPUT","arduino":"8de8845c.550098","x":530,"y":40,"wires":[]},{"id":"80a7010.b3775","type":"inject","z":"bd366dc1.ce123","name":"Desliga","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":60,"wires":[["39f2caef.51e496"]]},{"id":"6e877239.9b6ffc","type":"debug","z":"bd366dc1.ce123","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":240,"wires":[]},{"id":"978c3306.6d8bb","type":"function","z":"bd366dc1.ce123","name":"","func":"msg.payload = \"Banheiro 1: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":240,"wires":[["6e877239.9b6ffc"]]},{"id":"21c84590.f2614a","type":"mqtt in","z":"bd366dc1.ce123","name":"Banheiro1","topic":"banheirolivre/Banheiro1","qos":"2","datatype":"auto","broker":"2333f693.0e828a","x":100,"y":100,"wires":[["39f2caef.51e496"]]},{"id":"1921225a.8390ce","type":"mqtt out","z":"bd366dc1.ce123","name":"Banheiro1","topic":"banheirolivre/Banheiro1","qos":"","retain":"","broker":"2333f693.0e828a","x":530,"y":180,"wires":[]},{"id":"3a07e733.d89608","type":"arduino in","z":"bd366dc1.ce123","name":"Sensor Movimento Banheiro 1","pin":"10","state":"INPUT","arduino":"8de8845c.550098","x":140,"y":180,"wires":[["1921225a.8390ce","978c3306.6d8bb","5384ef99.a987b"]]},{"id":"b806357c.0e6f88","type":"inject","z":"bd366dc1.ce123","name":"Liga","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":320,"wires":[["5a5644d0.dd985c"]]},{"id":"5a5644d0.dd985c","type":"arduino out","z":"bd366dc1.ce123","name":"Led Pino 8","pin":"8","state":"OUTPUT","arduino":"8de8845c.550098","x":530,"y":320,"wires":[]},{"id":"92cc20e1.a574c","type":"inject","z":"bd366dc1.ce123","name":"Desliga","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":380,"wires":[["5a5644d0.dd985c"]]},{"id":"6f4d4550.3f3cdc","type":"debug","z":"bd366dc1.ce123","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":620,"wires":[]},{"id":"1b3ccbce.6064a4","type":"function","z":"bd366dc1.ce123","name":"","func":"msg.payload = \"Banheiro 2: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":620,"wires":[["6f4d4550.3f3cdc"]]},{"id":"d91e175b.0629a8","type":"mqtt in","z":"bd366dc1.ce123","name":"Banheiro2","topic":"banheirolivre/Banheiro2","qos":"2","datatype":"auto","broker":"2333f693.0e828a","x":100,"y":440,"wires":[["5a5644d0.dd985c"]]},{"id":"d730a02a.4d0a9","type":"mqtt out","z":"bd366dc1.ce123","name":"Banheiro2","topic":"banheirolivre/Banheiro2","qos":"","retain":"","broker":"2333f693.0e828a","x":510,"y":540,"wires":[]},{"id":"56178eb1.1c663","type":"arduino in","z":"bd366dc1.ce123","name":"Sensor Movimento Banheiro 2","pin":"12","state":"INPUT","arduino":"8de8845c.550098","x":160,"y":540,"wires":[["d730a02a.4d0a9","1b3ccbce.6064a4","1fd4bc1b.f138f4"]]},{"id":"1fd4bc1b.f138f4","type":"mqtt out","z":"bd366dc1.ce123","name":"Banheiro2React","topic":"banheirolivre/Banheiro2React","qos":"","retain":"","broker":"2333f693.0e828a","x":520,"y":480,"wires":[]},{"id":"5384ef99.a987b","type":"mqtt out","z":"bd366dc1.ce123","name":"Banheiro1React","topic":"banheirolivre/Banheiro1React","qos":"","retain":"","broker":"2333f693.0e828a","x":540,"y":120,"wires":[]},{"id":"8de8845c.550098","type":"arduino-board","device":"COM3"},{"id":"2333f693.0e828a","type":"mqtt-broker","name":"Mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]